<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bengkel Online</title>
  </head>
  <body>
    <h1>Bengkel Online</h1>
    <form action="/answers" method="post">
      {% for question in questions %}
      <div>
        <h2>{{ question }}</h2>
        <input name="blabla" type="radio">YES</input>
        <input name="blabla" type="radio">NO</input>
      </div>
      {% endfor %}
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
